name: Build and push image to registry

on:
  workflow_call:
    inputs:
      registry:
        description: Registry to push to, defaults to Docker Hub
        required: false
        type: string
      images:
        description: A list of the org/repo names to push to
        required: true
        type: string
      tags:
        # https://github.com/marketplace/actions/docker-metadata-action#tags-input
        description: Tag rules for docker/metadata-action
        required: false
        type: string
        default: |
          type=edge
          type=ref,event=branch
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
      context:
        description: The context to use for the Docker build command
        required: false
        type: string
        default: ./
      dockerfile:
        description: The Dockerfile to use for the Docker build command
        required: false
        type: string
        default: Dockerfile
      platforms:
        description: The platforms to use for the Docker build command
        required: false
        type: string
        default: linux/amd64
      push:
        description: Whether to push the image to the registry
        required: false
        type: boolean
        default: true

    secrets:
      username:
        required: true
      token:
        required: true

jobs:
  build:
    name: Build and push image to registry
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write # needed when pushing image to ghcr.io

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.images }}
          tags: ${{ inputs.tags }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to the container registry
        if: ${{ inputs.push }}
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.username }}
          password: ${{ secrets.token }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          platforms: ${{ inputs.platforms }}
          push: ${{ inputs.push }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            VERSION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
            REVISION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.revision'] }}
